<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a href="http://localhost:8000" class="navbar-brand">DriveNY</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:8000/locations">Locations</a></li>
                <li><a href="http://localhost:8000/classes">Local Classes</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://localhost:8000/login">Sign In</a></li>
                <li class="navbar-text">|</li>
                <li><a href="http://localhost:8000/register">Register</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<div class="container-fluid">

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <h1>Same class
                    <small>just more fun...</small>
                </h1>

                <img src="http://localhost:8000/images/newYorkSeal.png" class="pull-right" alt="DMV approved">

                <p>
                    Home of the only humerous Point and Insurance Reduction Course approved by the New York State
                    Department of Motor Vehicles
                </p>

                <div class="clearfix"></div>
                <h2>By taking this class, you will receive</h2>

                <p>
                    <span class="glyphicon glyphicon-share-alt"></span>
                    10&#37; reduction of your collision and liability insurance for a full 3 years.
                </p>

                <p>
                    <span class="glyphicon glyphicon-share-alt"></span>
                    Up to 4 points reduced from your driving record (if you have any)
                </p>

            </div>

            <div class="col-md-4">
                <h2 class="text-center">Upcoming classes</h2>

                <div class="list-group">

                    <a
                            class="list-group-item"
                            title="1 students enrolled"
                            href="http://localhost:8000/classes/2015-02-14"
                            data-toggle="popover"
                            >
                        <p class="list-group-item-heading text-center">
                            <strong>
                                February 14, 2015
                            </strong>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="list-group-item-text">
                                    901 Dick Rd.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>9am - 3pm</p>
                            </div>
                        </div>

                    </a>


                    <a
                            class="list-group-item"
                            title="0 students enrolled"
                            href="http://localhost:8000/classes/2015-03-14"
                            data-toggle="popover"
                            >
                        <p class="list-group-item-heading text-center">
                            <strong>
                                March 14, 2015
                            </strong>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="list-group-item-text">
                                    901 Dick Rd.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>9am - 3pm</p>
                            </div>
                        </div>

                    </a>


                    <a
                            class="list-group-item"
                            title="0 students enrolled"
                            href="http://localhost:8000/classes/2015-04-11"
                            data-toggle="popover"
                            >
                        <p class="list-group-item-heading text-center">
                            <strong>
                                April 11, 2015
                            </strong>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="list-group-item-text">
                                    901 Dick Rd.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>9am - 3pm</p>
                            </div>
                        </div>

                    </a>


                    <a
                            class="list-group-item"
                            title="2 students enrolled"
                            href="http://localhost:8000/classes/2015-05-09"
                            data-toggle="popover"
                            >
                        <p class="list-group-item-heading text-center">
                            <strong>
                                May 09, 2015
                            </strong>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="list-group-item-text">
                                    901 Dick Rd.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>9am - 3pm</p>
                            </div>
                        </div>

                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
        </div>

        <div class="col-sm-4">
        </div>
        <div class="col-sm-4 text-center">
            <small>Point reduction is valid on any points incurred in the last 18 months</small>
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>